@model MiCuarto_S.Models.LoginViewModel

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">


            <div class="col-md-12">
                <div class="container">
                    <div class="panel panel-green">
                        <div class="panel-heading text-center">
                            <h2 class="GrandHotel"><img class="logoIcon" src="@Url.Content("~/Content/logo/Wallet2.png")" alt="Fecha de la transacción" /> Mi 1/4</h2>

                        </div>
                        <div class="panel-body text-center">
                            <div class="col-md-1">

                            </div>
                            <div class="panel panel-green col-md-5 Oswald-Regular margin-15-rigt">
                                <div class="form-group">

                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h3 class="Oswald-Regular text-center">Login Mi 1/4</h3>
                                        <hr />
                                        @Html.ValidationSummary(true)
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label Oswald-Light" })
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.UserName)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label Oswald-Light" })
                                            <div class="col-md-6">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Log in" class="btn btn-default" />
                                            </div>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Register", "Register") if you don't have a local account.
                                        </p>
                                    }
                                </div>
                            </div>



                            <div class=" panel panel-yellow panel-registro col-xs-5">

                            </div>


                        </div>
                    </div>
                </div>
              </div>


</section>
    </div>

   @* <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    *@


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*
<section id="loginForm">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="col-md-12">
            <div class="container">
                <div class="panel panel-green">
                    <div class="panel-heading text-center">
                        <h2 class="GrandHotel"><img class="logoIcon" src="@Url.Content("~/Content/logo/Wallet2.png")" alt="Fecha de la transacción" /> Mi 1/4</h2>

                    </div>
                    <div class="panel-body">


                        <div class="panel panel-green col-md-6 ">

                            <div class="form-group">


                            </div>
                        </div>



                        <div class=" panel panel-yellow panel-registro col-md-6">
                     
                        </div>


                </div>
            </div>
        </div>


    }
</section>

<section class="social" id="socialLoginForm">
    <h2>Usa otro servicio para Registrarte.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

*@